/*
   Infopark India 
*/


#bg-blue{
    background: url("../images/bg/1.png");
    
   /*background:#0078d7;*/ 
   color:white;
   padding:0px;
}
#bg-subfooter{
    background: url("../images/bg/1.png") no-repeat;
    background-size:cover;
   /*background:#0078d7;*/ 
   color:white;
   padding-top:3px;
  padding-bottom:3px;
  box-shadow:inset 0 6px 10px rgba(0,0,0, 0.25);
}
.bg-fullscreen{
    background: rgba(0,0,0,0.7);
    margin:0px;
    padding:0px;
    width:100%;
    /*height:100%;*/
    padding:5px;
    /*background:#0078d7;*/
}
.bg-fullscreen2{
    background: rgba(0,0,0,0.4);
    background-size:cover;
     margin:0px;
    padding:0px;
    width:100%;
    /*height:100%;*/
    
}
#bg-blue a{
     color:white;
     text-decoration:none;
}
.contact-detail{
    font-family:century gothic;
    font-weight:bold;
    letter-spacing:1px;
}
.btn-signup{
    background:transparent;
    color:white;
    border:1px solid white;
}
.btn-signup:hover{
    background:rgba(0,0,0,0.8);
    color:black;
}

.btn-login{
    font-family:century gothic;
    color:white;
    background:transparent;
    border:1px solid white;
    
}
.btn-login:hover{
    color:white;
    background:rgba(0,0,0,0.8);
   
}
#login-form{
    font-family:century gothic;
    color:white;
    background:rgba(0,0,0,0.6);
    border:1px solid #4b4747;

}

#login-form li a{
    color:white;
}
#search-form{
    background:rgba(0,0,0,0.4);
}
.heading-font{
    font-family:century gothic;
    text-transform:none;
    
    
}
.heading-font2{
    font-family:verdana;
    text-transform:none;
}
#row1{
      background:#e7e7e7 url("../images/bg/three.png") no-repeat;
      background-position:left top;
      box-shadow:inset 0 2px 7px rgba(0,0,0, 0.25);
}

#row2{
    background:#e2e2e2;
    box-shadow:inset 0 2px 7px rgba(0,0,0, 0.25);
    
}
.aboutrow2{
    
}
#cdrow1{
      background:#f8f8f8;
      border-bottom: 1px solid #e8e8e8;
     margin-bottom:7px;
      -webkit-box-shadow: 0 6px 6px -6px black;
     -moz-box-shadow: 0 6px 6px -6px black;
      box-shadow: 0 6px 6px -6px black;
      
}
#cdrow2{
      background:#efedee;
     
}
#cdrow4{
      background:#4d5253;
     
}
#page-left-portion{
      background:white;
      padding-top:50px;
      font-family:century gothic;
      font-size:13px;
      border: 1px solid #e8e8e8;
      margin-right:5px;
}
#page-right-portion{
      background:white;
      padding-top:50px;
      font-family:century gothic;
      font-size:13px;
      border: 1px solid #e8e8e8;
      margin-left:5px;
}
.dark-transparent-box{
    background:rgba(0,0,0,0.6);
    height:100%;
    position:relative;
    top:-60px;
}
#line-chart{
    background:url("../images/bg/chart.png") no-repeat;
    background-size:cover;
    background-size:500px 380px;  
    height:380px;
    margin-left:30px;
}
.footer-upper-top{
     width:100%;
      height:3px;
      background:#000000;
}
.footer-upper{
    width:100%;
    background:#085aa3;
    background: -webkit-radial-gradient(#0275db, #085aa3); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#0275db, #085aa3); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#0275db, #085aa3); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#0275db, #085aa3); 
    height:40px;
   
    
}
#footer-bottom{
     width:100%;
      height:2px;
      background:#000000;
  
}
#vseparator{
    position: relative;
    height: 70px;
    top:0px;
    z-index: 1;
    width:5%;
    margin-right:auto;
    margin-left:auto;
    
   
}
.vhr{
   margin: 0 auto;
    width: 1px;
    height: 70px;
    background:#b1b0b0;
    border: none;
    position: relative;
    overflow: visible; 
}

#vseparator .vhr:after, #vseparator .vhr:before{
    content: " ";
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-clip: padding-box;
    background:#333333;
    display: inline-block;
    border: 2px solid #ffffff;
    position: absolute;
    bottom: 0;
    left: -7px;
}
#tab-course{
     position: relative;
    top:-10px;
}
#tab-course li a{
    font-family:century gothic;
}
#coursed-row2{
    background:#f5f5f5;
    padding-bottom:25px;
}
#cpara{
     font-family:Verdana;
}
#clist li{
   font-family:Verdana; 
   
   
}
.small-font{
    font-size:9px;
}
#date-time{
    background:rgba(0,0,0,0.8);
    color:white;
    font-weight:bold;
    font-size:28px;
    padding-top:5px;
    padding-left:15px;
    padding-right:8px;
    letter-spacing:2px;
    box-shadow: inset 0px 2px 4px 0px  rgba(0,0,0,0.1);
    
}
#upcomming-batch{
    background:#e8e8e8;
     padding-top:16px;
     box-shadow: inset 0px 0px 10px #c0c0c0;
    
}

#month{
    font-size:14px;
    position:relative;
    top:-25px;
    letter-spacing:2px;
    
  
}
#dt-content{
    padding-left:10px;
    line-height:18px;
    float:left;
    padding-bottom:15px;
}

.service-box{
   
   background:rgba(0,0,0,0.6);
   padding-top:20px;
   padding-bottom:20px;
   font-family:century gothic;
   border-bottom:4px solid #FFC107;
}
.service-box a:hover{
  font-weight:bold;
  color:orange;
  

}
 .cpara2{
    font-family:Verdana;
    font-size:15px;
    text-align:justify;
}

testimonial-body .cpara3{
    font-family:Verdana;
    font-size:15px;
    text-align:center;
    color:black;
    font-weight:800;
}
#testimonial-row{
     
      
}
.placement-img{
   -webkit-box-shadow: 0 6px 6px -6px black;
     -moz-box-shadow: 0 6px 6px -6px black;
      box-shadow: 0 6px 6px -6px black;
}
.errorMsg{
    color:red;
}
.sidebar-nav-fixed {
	width:14%;
}
#button-fixed{
   
    
}
#highlighter{
                       
  
}